<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" text="text/css" href= "{{ url_for('static',filename='stylesheets/style.css') }}">
    <head>
        <meta charset="UTF-8">
        <title>Plug</title>
        <script type="text/javascript"
                src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
        </script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type = "text/javascript">
            setInterval(function(){
                $.ajax({
                    url: '/getStatus',
                    type: 'GET',
                    success: function(response){
                        console.log(response);
                        $("#stateText").html(response.toUpperCase());
                    },
                    error: function(error){
                        console.log(error);
                    }
                }, 5000);
            });
            setInterval(function(){
                $.ajax({
                    url: '/getPrediction',
                    type: 'GET',
                    dataType:'json',
                    success: function(response){
                        console.log(response);
                        var object_response = response.prediction;
                        $("#labelText").html(object_response);
                    },
                    error: function(error){
                        console.log(error);
                    }
                }, 5000);
            });
            setInterval(function(){
                $.ajax({
                    url: '/getMean',
                    type: 'GET',
                    success: function(response){
                        console.log(response);
                        $("#currentText").html(response + " A");
                    },
                    error: function(error){
                        console.log(error);
                    }
                }, 5000);
            });
        </script>

    </head>
    <body>

        <div id = "container">
            <div id = "label">
                <h2 id = "labelText"> {{ label }}</h2>
            </div>
            <div id = "state">
                <h4 id = "stateText"> {{ state }} </h4>
            </div>
            <p></p>
        </div>

        <div id = "current">
            <h3 id = "currentText"> {{ mean }} A </h3>
        </div>

        <div id="graph"></div>
        <script>
        function rand() {

            const Http = new XMLHttpRequest();
            const url='https://192.169.0.6/getMean';
            Http.open("GET", url);
            Http.send();

            var yVal = 0;
            Http.onreadystatechange = (e) => {
                yVal = parseFloat(Http.responseText);
                Console.log(yVal)
            }

            return yVal;
        }

        var time = new Date();
        var cnt = 0;

        Plotly.plot('graph', [{
            y: [rand()],
            type: 'line'
        }]);

        setInterval(function(){
               Plotly.extendTraces('graph',{y:[[rand()]]}, [0]);
               cnt++;

               if(cnt > 500){
                    Plotly.relayout('graph', {
                        xaxis: {
                            range: [cnt-500, cnt]
                        }
                    });
               }

               }, 1000);




        </script>

    </body>
</html>